@keyframes table-row-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.calendarTable {
  border-collapse: collapse;

  &__empty {
    border: 0 !important;

    td {
      border: 0 !important;
    }
  }

  thead {
    td {
      height: 64px;
      text-align: center;

      & > span {
        display: block;

        &:first-child {
          font-size: 12px;
          line-height: 18px;
        }

        &:last-child {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }

  tbody {
    &::after {
      content: "";
      height: 41px;
      display: table-row;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    td {
      height: 34px;
      min-height: 34px;
      max-height: 34px;
    }
  }

  tr {
    animation: table-row-show var(--transition-time);

    & > td {
      border: 1px solid #d7d7d7;
      width: 34px;
      min-width: 34px;
      vertical-align: middle;
      animation: table-row-show var(--transition-time);

      &:first-child {
        min-width: 260px;
        border-left: 3px solid #9b99ff;
      }
    }
  }

  &__addVocation {
    border: 0 !important;
    text-align: left !important;
  }

  &__team-name {
    font-size: 12px;
    line-height: 18px;
  }

  &__team-header {
    background: rgba(155, 153, 255, 0.1);

    .calendarTable__team-name {
      font-weight: 600;
    }
  }

  &__team-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__team-count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #949494;
    margin-left: auto;

    img {
      margin-right: 3px;
    }
  }

  &__percentage {
    background: #9b99ff;
    border-radius: 2px;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    width: 28px;
    margin-left: 13px;
    text-align: center;
  }

  &__team-toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    margin-left: 18px;
    padding: 0;
    transform: rotate(180deg);
    transition: transform var(--transition-time);

    &_open {
      transform: rotate(0);
    }
  }

  &__dayOff {
    background-color: #f0f0f0;
  }

  &__vacations {
    background: #9b99ff;
    border: 0 !important;

    &:last-child {
      border-right: 1px solid #9b99ff !important;
    }

    &:first-child {
      border-right: 1px solid #9b99ff !important;
    }
  }

  &__team-header:not(:first-child) td {
    border-top: 30px solid white;
    position: relative;
  }

  &__team-header:not(:first-child) {
    td::before,
    td::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d7d7d7;
    }

    td::before {
      top: 0;
    }

    td::after {
      top: -30px;
    }
  }
}


