.App {
    text-align: center;
}

.container {
    width: 1385px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.calendarBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 35px;
}

.calendarBar__current {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000;
    width: 180px;
}

.calendarBar__nav {
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

.calendarBar__nav:hover {
    transform: scale(1.5);
}

.calendarBar__nav_next {
    background-image: url(./images/next.svg);
}

.calendarBar__nav_prev {
    background-image: url(./images/prev.svg);
}

td {
    border: 1px solid #d7d7d7;
    width: 34px;
    min-width: 34px;
    vertical-align: middle;
    animation: table-row-show 0.3s;
}

td:first-child {
    min-width: 260px;
    border-left: 3px solid #9b99ff;
}


thead td {
    height: 64px;
    text-align: center;
}

thead td > span {
    display: block;
}

thead td > span:first-child {
    font-size: 12px;
    line-height: 18px;
}

thead td > span:last-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.calendarTable__dayOff {
    background-color: #f0f0f0;
}
.loading__wrapper {
    display: flex;
    justify-content: center;

}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #d7d7d7;
    border-color: #d7d7d7 transparent #d7d7d7 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}