.App {
  text-align: center;
}
.container {
  width: 1385px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.calendarBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 35px;
}

.calendarBar__current {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000;
  width: 180px;
}

.calendarBar__nav {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
}

.calendarBar__nav:hover {
   transform: scale(1.5);
 }

.calendarBar__nav_next {
  background-image: url(./images/next.svg);
}

.calendarBar__nav_prev {
  background-image: url(./images/prev.svg);
}

thead td {
  height: 64px;
  text-align: center;
}
thead td > span {
  display: block;
}
thead td > span:first-child {
   font-size: 12px;
   line-height: 18px;
 }

thead td > span:last-child {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
 }